/**
Title: global.css
Author: Walter McCue
Date: 05/26/22
Description: This is a copy of the styling code I (Walter McCue) wrote from WEB 200 that will be used in this repository.
Modified: 06/01/22, 06/26/22
*/
.card {
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}
.card-title {
    text-align: center;
    font-size: 2em;
    color: #4f3674;
    font-weight: 400;
}
.card-content {
    padding: 2px 16px;
}
.card:hover {
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.btn {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    padding: 15px 32px;
    color: black;
}
.btn-primary {
    background-color: #4f3674;
    color: white;
}
.btn-primary:hover {
    background-color: #d6a800;
    color: #4f3674;
}
.input {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.full-width {
    width: 100%;
}
.form {
    display: inline-grid;
    grid-template-columns: auto;
}
.form-field {
    padding: 20px;
}
/**
The following was added during Week 2 and modifies links that return to the index page
*/
a.return-home {
    color: #4f3674;
    text-decoration: none;
}
a:visited.return-home {
    color: #3c275a;
}
a:hover.return-home{
    color: #4f3674;
    background-color: #d6a800;
}
/**
The following was added during week 5
*/
.drop-down-menu {
    padding: 12px 20px;
    margin: 8px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}