body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#container {
    margin: 50px 100px 50px 100px;
}
h1, h2, h3 {
    background-color: #3c275a;
    color: white;
    border: 1px solid #d6a800;
    padding: 10px;
}
a {
    color: #453674;
    text-decoration: none;
}
a:visited {
    color: #3c275a;
}
a:hover {
    background-color: #d6a800;
    color: #4f3674;
}