/**
Title: mccue-sequence-game.css
Author: Walter McCue
Date: 06/26/22
Description: Styling for mccue-sequence-game.html
*/
body {
    font-family: 'Oswald', Verdana, Arial, sans-serif;
}
#card-content {
    text-align: center;
    font-size: 28px;
    padding-bottom: 20px;
}
